<body>
    <header>
        <h2>Welcome to Our Hospital</h2>
    </header>

    <div class="logo">
        <img style="height: 150px;" src="assets/download2.png" alt="hospitallogo">
        <div class="info">HELPLINE: 1800-234-567</div>
    </div>

    <div class="slider">
        <div class="slides">
            <img src="assets/image1.jpg" alt="image1">
            <img src="assets/image6.jpg" alt="image6">
            <img src="assets/image2.jpg" alt="image2">
            <img src="assets/image3.jpg" alt="image3">
            <img src="assets/image5.jpg" alt="image5">
        </div>
    </div>

    <div class="about">
        <div><img src="assets/FAVICON.png" alt="" class="about-img"></div>
        <div>
        <div class="head1" ><h1 class="h1" >About Us</h1></div>
        <div class="us">
            "we are dedicated to providing exceptional healthcare services to our community and beyond.
            With a commitment to compassion, innovation, and excellence, 
            we strive to be a trusted healthcare provider for individuals and families in need."
        </div>
        </div>
    </div>
    
    <!-- Our services -->
    <div class="our1">
        <h1 class="h2">Our Services</h1>
    </div>
    <div class="services1">
        <div class="list">
            <p class="cards">EMERGENCY CARE</p>
            <p class="cards">HEART TRANSPLANT</p>
            <p class="cards">MOTHER & CHILD</p>
            <p class="cards">LIVER TRANSPLANT</p>
            <p class="cards">NUERO SCIENCE</p>
            <p class="cards">MULTIORGAN TRANSPLANT</p>
            <p class="cards">CT SURGERY</p>
            <p class="cards">BONES & JOINTS</p>
            <p class="cards">GASTROENTEROLOGY</p>
            <p class="cards">NEPHROLOGY</p>
            <p class="cards">CANCER</p>
            <p class="cards">SPINE SURGERY</p>
        </div> 
    </div>
    <!-- Address -->
    <div class="address">
            <img class="addressimage0" src="assets/addresslogo.jpg" alt="">
            <div class="address1">
            <p><img class="addressimage" src="assets/address1.jpg" alt="addressimage"> Address: <br>
            401, 4th Floor, PKR Complex,<br>
            Road Number 1, KPHB Phase 1, Kukatpally,<br>
            Hyderabad,<br>
            Telangana 500072.</p>
        </div>
    </div>
   

    
</body>


